process {
    executor = 'local'       // to run on cluster, change this to sge
}

// Retry any process once before failing the pipeline
process.withName:.* {
    maxRetries = 1
}

// Add execution reports for debugging and performance inspection
timeline.enabled = true
report.enabled   = true
trace.enabled    = true
